.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  background-color: #f9f9f9;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin: 5px 0;
}

.card.completed {
  background-color: #c9f0c9;
}

.card.not-completed {
  background-color: #f0c9c9;
}
.card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.card .toggle-complete-button {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.card .edit-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

